.assembleInsert{
  .topbox{
    height: 26rem;
    display: flex;
    margin-top: 1rem;
    .el-aside{
      width: 35%;
      background-color: #fff;

    }
    .el-main{
      background-color: #fff;
      padding: 0;
      margin-left: 1rem;
      .progress{
        margin-top: 1rem;
        margin-left: 1rem;
      }

    }


  }
  .bottom-box{
    height: calc(100% - 25rem);
  }
}

