.hottest{
  height: 100%;
  background-color: #fff;
  .convent {
    background-color: #fff;
    height: 7rem;
    align-items: center;
    display: flex;
    /*justify-content: center;!*水平居中*!*/
    padding-left: 4rem;
    .convent-input {
      align-items: center;
      justify-content: center; /*水平居中*/
      display: flex;
      .el-input-group {
        .el-input__inner {
          border: 1px solid #1dbf64;
          width: 39rem;
          height: 5rem;
        }
      }

    }
    .el-button {
      margin-left: 2rem;
    }
  }
  .bottom-form{
    width: 90%;
    margin: 0 auto;
  }
}
