.hottest{
  height: 100%;
  background-color: #fff;
  .pro-info{
    height: 24rem;
    >div{
      height: 22rem;
      width: 90%;
      margin: 0 auto
    }
  }
  .bottom-form{
    width: 90%;
    margin: 0 auto;
  }
}
