.initialize {
  background-color: #EDEDED;
  width: 100%;
  height: 100%;
  .topbox {
    height: 25rem;
    display: flex;
    .el-aside {
      width: 35%;
      background-color: #fff;
    }
    .el-main {
      background-color: #fff;
      padding: 0;
      margin-left: 1rem;
      .progress {
        margin-top: 1rem;
        margin-left: 1rem;
      }
    }
  }
  .bottom-form {
    margin-top: 1rem;
    height: calc(100% - 26rem);
    background-color: #fff;
    .el-table {
      font-size: 1.2rem;
      .el-table__header-wrapper {
        color: #222;

      }

    }
  }
  .fixed-box{
    span:first-child{
         width: 8rem;
         height: 8rem;
         background-color: #009DD9;
         position: fixed;
         top: 0;
         right: 0;
         border-radius: 8rem ;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 1.4rem;
         color: white;
       }
    span:last-child{
      width: 8rem;
      height: 8rem;
      background-color: #009DD9;
      position: fixed;
      top: 15rem;
      right: 0;
      border-radius: 8rem ;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      color: white;
    }
  }

}
