#nav-menu-list {
  position: absolute;
  top: -24.8rem;
  left: 1rem;
  color: red;
  width: 10rem;
  height: 20rem;
  background-color: darkblue;
  ul{
    li{
      height: 3rem;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }


}
