.systemConfiguration{
  height: 100%;
  background-color: #fff;
      .el-header{
        background-color: #169BD5;
        color: #fff;
        display:flex;
        justify-content: center;
        font-size: 2rem;
        height: 5rem;
        line-height: 5rem;
      }
      .el-main{
        height: 100% ;
        .main-content{
          height: 30rem;
          width: 50rem;
          margin: 10rem auto;
          .el-row{
            margin-top: 2rem;
            .el-col{
              .grid-content{
                float: right;
              }
            }
          }
        }
      }


}
