.systemConfiguration{
  height: 100%;
  .el-container {
    height: 100%;
    .el-header {
      height:5rem;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      background-color: #fff;
    }
    .label {
      color: #595959;
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .el-main {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      background-color: #fff;
      height: calc(100% - 5rem);
    }
  }
}
